# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output
/bin/
/release/

# Code::Blocks project files
*.cbp
*.depend
*.layout

# SQLite files
/sqlite/
*.db

# git cruft
.gitattributes
_resources
